*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
    background-color: hsl(226, 43%, 10%);
}
/* ### Primary

- Blue: hsl(246, 80%, 60%)

- Light red (work): hsl(15, 100%, 70%)
- Soft blue (play): hsl(195, 74%, 62%)
- Light red (study): hsl(348, 100%, 68%)
- Lime green (exercise): hsl(145, 58%, 55%)
- Violet (social): hsl(264, 64%, 52%)
- Soft orange (self care): hsl(43, 84%, 65%)

### Neutral

- Very dark blue: hsl(226, 43%, 10%)
- Dark blue: hsl(235, 46%, 20%)
- Desaturated blue: hsl(235, 45%, 61%)
- Pale Blue hsl(236, 100%, 87%)
 */

 /* external container for all content */
 .container{
    /* border: 1px solid red;  */
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
    height: auto;
    margin: 10%;
 }
/* the first column container */
.header-card-container{
    /* border: 1px solid white;  */
    display: flex;
    flex-direction: column;
}
/* profile section-contains avatar,report by,name */
.profile-card{
    background-color: hsl(246, 80%, 60%);
    color :white;/* for debugging only*/
    display: flex;
    padding-left:20px ;
    flex-direction: column;
    border-radius: 5px;
    width: 150px;
    height: 200px;
}
.avatar{
    /* background-color: white; */
    color: white;
    width: 40px;
    height:40px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 10% 0;
}
p{
    font-weight: 100;
    font-size: small;
}
.user-name{
    margin-top: 15px;
    font-weight: 300;
    font-size: 24px;
}

/* navbar section */
.nav-bar{
    background-color: hsl(235, 46%, 20%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0 0 10px 10px; 
    padding: 10%;
}
.nav-item{
    list-style: none;
    font-weight: 300;
    font-size: small;
    color: #e5e7ebce;
    margin-top: 8px;
}
.nav-item:hover{
    color: white;
    font-size: large;
}