.activity-card {
  width: 327px;
  height: 164px;
  border-radius: 16px;
  position: relative;
  background-repeat: no-repeat;
}

.activity-card.work {
  background-position: top -15px right 15px;
  background-color: #ff8b64;
  background-image: url("src/assets/images/icon-work.svg");
}

.activity-card.play {
  background-position: top -5px right 15px;
  background-color: #56c2e6;
  background-image: url("src/assets/images/icon-play.svg");
}

.activity-card.study {
    background-position: top -5px right 15px;
  background-color: #ff5e7d;
  background-image: url("src/assets/images/icon-study.svg");
}

.activity-card.exercise {
    background-position: top  right 15px;
  background-color: #4bcf83;
  background-image: url("src/assets/images/icon-exercise.svg");
}

.activity-card.social {
    background-position: top -14px right 15px;
  background-color: #7235d1;
  background-image: url("src/assets/images/icon-social.svg");
}

.activity-card.self {
    background-position: top -10px right 15px;
  background-color: #f1c75b;
  background-image: url("src/assets/images/icon-self-care.svg");
}

.activity-content {
  height: 124px;
  width: 100%;
  background-color: #1d1f4b;
  color: #e8eaf0;
  position: absolute;
  bottom: 0;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 32px 20px;
}

.activity-content:hover {
  background-color: #34387a;
  cursor: pointer;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 12px;
}

.heading > h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #e0e5f2;
}

.heading > button {
  background: none;
  border: none;
}

.heading > button:hover,
.icon-ellipsis:hover path {
  cursor: pointer;
  fill: #dbdde7;
}

.activity-record {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.activity-record > .current {
  font-weight: 400;
  font-size: 32px;
  line-height: 63px;
  color: #eaedf5;
}

.activity-record > .previous {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #9398d9;
}
@media (min-width: 768px){
    .activity-card{
        width: auto;
        height: auto;
    }
}