.user-card {
  width: 327px;
  height: 200px;
  background-color: #1d1f4b;
  border-radius: 12px;
}
.user-info {
  background-color: #5746ea;
  height: 132px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 12px;
  color: #e2defd;
}
.user-img {
  width: 70px;
  height: 70px;
  box-shadow: 0 0 0 3px #fff;
  border-radius: 50%;
}

.user-info .title {
  font-style: normal;
  font-weight: 300;
  line-height: 45px;
}

.user-info .user-name {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 45px;
}
.activity-type {
  height: 68px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.activity-type > button {
  background-color: #1d204b;
  border: none;
  font-weight: 400;
  font-size: 17.5px;
  line-height: 21px;
  color: #6064a0;
}

.activity-type > button.active {
  color: #b8bac9;
}

.activity-type > button:hover {
  color: #dbdde7;
  cursor: pointer;
}

@media (min-width: 768px) {
  .user-card {
    width: 255px;
    height: 520px;
  }
  .user-info {
    height: 352px;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 35px;
    padding: 32px;
  }

  .user-info .title {
    font-weight: 400;
    font-size: 14.5px;
    line-height: 18px;
    color: #9f96fd;
  }

  .user-info .user-name {
    font-weight: 400;
    font-size: 37px;
    line-height: 45px;
    color: #e2defd;
    margin-top: 10px;
  }

  .activity-type{
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 17px;
  }
}
